<!-- Footer Start -->
<footer class="sigma_footer sigma_footer-dark primary-bg">

  <img src="assets/img/textures/4.png" class="texture-3" alt="texture">

  <!-- Bottom Wave -->
  <div class="sigma_footer-shape waves">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#61be66" fill-opacity="1"
            d="M0,288L48,256C96,224,192,160,288,149.3C384,139,480,181,576,208C672,235,768,245,864,245.3C960,245,1056,235,1152,218.7C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>

  <!-- Middle Footer -->
  <div class="sigma_footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <img src="https://via.placeholder.com/155x50" class="mb-4" alt="logo">
          <!--<p>9000 Regency Parkway, Suite 400 Cary, NC 27518</p>
          <ul class="sigma_sm">
            <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
            <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
            <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
            <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
          </ul>-->
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Information</h5>
          <ul>
            <li> <a href="index.html">Home</a> </li>
            <li> <a href="blog-grid.html">Blog</a> </li>
            <li> <a href="about-us.html">About Us</a> </li>
            <li> <a href="shop.html">Shop</a> </li>
            <li> <a href="contact-us.html">Contact Us</a> </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Others</h5>
          <ul>
            <li> <a href="wishlist.html">Wishlist</a> </li>
            <li> <a href="services.html">Services</a> </li>
            <li> <a href="product-single.html">Printer</a> </li>
            <li> <a href="shop.html">Products</a> </li>
            <li> <a href="blog-grid.html">Blog</a> </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 d-none d-lg-block footer-widget">
          <h5 class="widget-title">Top Categories</h5>
          <ul>
            <li> <a href="#">Printers</a> </li>
            <li> <a href="#">Print Outs</a> </li>
            <li> <a href="#">Papers</a> </li>
            <li> <a href="#">Back to School</a> </li>
            <li> <a href="#">Pens</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="sigma_footer-bottom">
    <div class="container">
      <div class="sigma_footer-copyright">
        <p> Copyright © {{ site.time | date: "%Y" }}. All Rights Reserved. </p>
      </div>
    </div>
  </div>

</footer>
<!-- Footer End -->
