<!-- Vendor Scripts -->
<script src="{{ "/assets/js/plugins/jquery-3.4.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/popper.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/imagesloaded.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/jquery.magnific-popup.min.js" | relative_url }}"></script>


<script src="{{ "/assets/js/plugins/jquery.countdown.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/jquery.waypoints.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/jquery.counterup.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/jquery.zoom.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/jquery.inview.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/jquery.event.move.js" | relative_url }}"></script>

<script src="{{ "/assets/js/plugins/wow.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/isotope.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/slick.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/ion.rangeSlider.min.js" | relative_url }}"></script>

<!-- Tilakam Scripts -->
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
