{%- assign sorted_pages = site.pages | sort: "order" -%}

<!-- Aside (Mobile Navigation) -->
<aside class="sigma_aside sigma_aside-left">

  <a class="navbar-brand" href="/"> <img src="https://via.placeholder.com/155x50" alt="logo"> </a>

  <!-- Menu -->
  <ul>
    <li class="menu-item">
      {%- for my_page in sorted_pages -%}
        {%- if my_page.title and my_page.order -%}
      <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
      <a href="/contact.html">Contact Us</a>
    </li>
  </ul>

</aside>
<div class="sigma_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<header class="sigma_header header-1 can-sticky header-absolute header-light">

  <!-- Middle Header Start -->
  <div class="sigma_header-middle">
    <div class="container">
      <nav class="navbar">

        <!-- Logo Start -->
        <div class="sigma_logo-wrapper">
          <a class="navbar-brand" href="/">
            <img src="https://via.placeholder.com/155x50" alt="logo">
          </a>
        </div>
        <!-- Logo End -->

        <!-- Menu -->
        <ul class="navbar-nav">
          {%- for my_page in sorted_pages -%}
            {%- if my_page.title and my_page.title != 'Home' and my_page.order -%}
            <li class="menu-item">
              <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>

        <!-- Controls -->
        <a href="/contact.html" class="sigma_btn-custom btn-sm light btn-pill d-none d-lg-block">Contact Us</a>

        <!-- Mobile Toggler -->
        <div class="aside-toggler style-2 aside-trigger-left">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

      </nav>
    </div>
  </div>
  <!-- Middle Header End -->

</header>
<!-- Header End -->
