<!-- Aside (Mobile Navigation) -->
<aside class="sigma_aside sigma_aside-left">

  <a class="navbar-brand" href="/index.html"> <img src="https://via.placeholder.com/155x50" alt="logo"> </a>

  <!-- Menu -->
  <ul>
    <li class="menu-item">
      <a href="/story.html">Our story</a>
      <a href="/strategy.html">Strategy</a>
      <a href="/values.html">Our values</a>
      <a href="/energy-efficiency.html">Efficient energy use and the world</a>
      <a href="/projects.html">Plans, projects</a>
    </li>
  </ul>

</aside>
<div class="sigma_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<header class="sigma_header header-1 can-sticky header-absolute header-light">

  <!-- Middle Header Start -->
  <div class="sigma_header-middle">
    <div class="container">
      <nav class="navbar">

        <!-- Logo Start -->
        <div class="sigma_logo-wrapper">
          <a class="navbar-brand" href="index.html">
            <img src="https://via.placeholder.com/155x50" alt="logo">
          </a>
        </div>
        <!-- Logo End -->

        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item">
            <a href="/story.html">Our story</a>
          </li>
          <li class="menu-item">
            <a href="/strategy.html">Strategy</a>
          </li>
          <li class="menu-item">
            <a href="/values.html">Our values</a>
          </li>
          <li class="menu-item">
            <a href="/energy-efficiency.html">Efficient energy use and the world</a>
          </li>
          <li class="menu-item">
            <a href="/projects.html">Plans, projects</a>
          </li>
        </ul>

        <!-- Controls -->
        <a href="/contact.html" class="sigma_btn-custom btn-sm light btn-pill d-none d-lg-block">Contact Us</a>

        <!-- Mobile Toggler -->
        <div class="aside-toggler style-2 aside-trigger-left">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

      </nav>
    </div>
  </div>
  <!-- Middle Header End -->

</header>
<!-- Header End -->
