<!-- Subheader Start -->
<div class="sigma_subheader primary-bg">

    <img src="{{ "/assets/img/textures/3.png" | relative_url }}" class="texture-3" alt="texture">

    <!-- Top Left Wave -->
    <div class="sigma_subheader-shape circles">
        <div class="circle circle-lg circle-1 primary-dark-bg"></div>
        <div class="circle circle-sm circle-2 bg-white"></div>
        <div class="circle circle-md circle-3 secondary-bg"></div>
    </div>

    <!-- Bottom Wave -->
    <div class="sigma_subheader-shape waves">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="container">
        <div class="sigma_subheader-inner">
            <h1>{{ page.title }}</h1>
            <!--<nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">{{ site.title | escape }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                </ol>
            </nav>-->
        </div>
    </div>
</div>
<!-- Subheader End -->
