/* Global */

ul.regular-list {
    list-style: disc;
    margin: 0 0 20px 0;
}

ul.regular-list li {
    margin-left: 30px;
}

footer.sigma_footer {
    z-index: 10;
}

/* Projects */

.sigma_testimonial .sigma_testimonial-inner span.year {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.sigma_testimonial.style-3 .sigma_testimonial-inner span.year {
    display: block;
    border-top: 1px solid #efefef;
    padding: 10px 30px;
    text-transform: none;
}

@media (max-width: 768px) {
    .sigma_testimonial.style-3 .sigma_testimonial-inner span.year {
        padding: 10px 20px;
    }
}