---
layout: page
---

<section class="section">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 mb-lg-30 position-relative">
                <div class="sigma_dots dots-1 secondary d-none d-lg-block"></div>
                <img src="{{ "/assets/images/projects/main/" | append: page.imageMain | relative_url }}" alt="Cover image">
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="sigma_about-content">
                    {{ content }}
                </div>
            </div>

            <div class="col-lg-1">
                <div class="sigma_dots dots-2 primary d-none d-lg-block"></div>
            </div>

        </div>
    </div>
</section>
